body {
  margin: 0px;
}
.container {}
h1,
.header,
.nav,
.main,
.footer {
  margin: 0px auto;
}
.header {
  width: 1400px;
  height: 100px;
  background-color: #64cacb;
}
.nav {
  width: 1400px;
  height: 50px;
  background-color: #fb9693;
}
.main {
  width: 1400px;
  height: 500px;
}
.block_menu,
.block_content {
  float: left;
}
.block_menu {
  width: 300px;
  height: 500px;
  background-color: #9cca9c;
}
.block_content {
  width: 1100px;
  height: 500px;
  background-color: #cccfd0;
}
.footer {
  width: 1400px;
  height: 80px;
  background-color: #0466fc;
}